[Unit]
Description=Lightberry Standalone Client Service
After=network.target # Or potentially network-online.target if it needs network immediately

[Service]
User=lightberrydev
WorkingDirectory=/home/lightberrydev/lb/on_device
ExecStart=/usr/bin/git pull

[Install]
WantedBy=multi-user.target
