[Unit]
Description=Lightberry Standalone Client Service
After=network.target # Or potentially network-online.target if it needs network immediately

[Service]
User=root
WorkingDirectory=/home/lightberrydev/lb
ExecStart=/home/lightberrydev/lb/venv/bin/python /home/lightberrydev/lb/standalone_client.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
