# /etc/systemd/system/lightberry.service.d/override.conf
[Unit]
After=network.target sound.target      
Requires=sound.target                   
Description=Lightberry Standalone Client Service

[Service]
User=lightberrydev
Group=audio
# Point the service at the user’s runtime + Pulse/PipeWire socket
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"
Environment="PULSE_SERVER=unix:/run/user/1000/pulse/native"


[Service]
User=root
WorkingDirectory=/home/lightberrydev/lb
ExecStart=/home/lightberrydev/lb/venv/bin/python /home/lightberrydev/lb/standalone_client.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
